// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone (Mobile first so no media query needed)
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- tab-port
- tab-land
- laptop
- desktop
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 37.5em) {
      @content;
    } // 600px
  }
  @if $breakpoint == tab-land {
    @media only screen and (min-width: 56.25em) {
      @content;
    } // 900px
  }
  @if $breakpoint == laptop {
    @media only screen and (min-width: 64em) {
      @content;
    } // 1024px
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 75em) {
      @content;
    } // 1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

// Mixin for the section buttons, takes the fluorescent color as an argument
@mixin section($color) {
  border-top: solid 0.5rem $color;
  border-bottom: solid 0.5rem $color;
  & > svg {
    fill: $color;
  }
  &--active {
    border-top: solid 0.5rem $color-black;
    border-bottom: solid 0.5rem $color-black;
    background-color: $color;
    & > svg {
      fill: $color-black;
    }
  }
}
