// COLORS
$color-error: #ff0000;
$color-white: #fff;
$color-black: #000;
$color-dark-grey: #333;

// FLUORESCENT COLORS
$color-electric-light-blue: #55ffff;
$color-bright-purple: #be03fd;
$color-fluorescent-green: #08ff08;
$color-fluorescent-orange: #ff7f00;
$color-electric-yellow: #fffc00;

// FONT
$default-font-size: 1.6rem;
$default-font-family: "Roboto", sans-serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
