.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: masonry;
  grid-column-gap: 0.5rem;
  grid-row-gap: 2rem;

  @include respond(tab-port) {
    padding: 0 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
  @include respond(tab-land) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include respond(laptop) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.card {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__details {
    height: max-content;
    text-align: center;

    //! Ellipsis does not work, and I don't know why
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }

  &__image-container {
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__price {
    margin: 0.5rem 0;
  }

  &__image {
    max-width: 90%;
    max-height: 15rem;
    padding-top: 1rem;
  }

  &__title {
    color: $color-grey;
    display: block;
    letter-spacing: normal;
    line-height: 1.2rem;
    text-align: center;
    margin-top: 1rem;
  }

  &__buttons {
    grid-gap: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 3.25rem;
    margin-bottom: 1rem;
  }

  &__btn {
    background-color: inherit;
    border: 0.15rem solid $color-grey;

    &-bag {
      background: $color-black;
      border: 0.1rem solid $color-black;
      color: $color-white;
      text-decoration: none;
    }
    &-wishlist {
      display: flex;
      justify-content: center;
      align-items: center;

      &--active > svg {
        fill: $color-black;
        max-width: 50%;
      }

      &--inactive > svg {
        fill: $color-light-grey;
        max-width: 50%;
      }
    }
  }
}
