.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;

  &__right-side {
    display: flex;
    align-items: center;
  }
  &__clear-button {
    background: $color-black;
    border: 0.1rem solid $color-black;
    color: $color-white;
    text-decoration: none;
    margin-right: 0.5rem;
    height: 2.5rem;
    padding: 0 1rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__close-button {
    align-items: baseline;
    cursor: pointer;
    & > svg {
      height: 2rem;
    }
  }
}

.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 60vh;
  overflow: scroll;

  // in order to hide the scrollbar
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
.cart-item {
  margin-bottom: 2rem;

  &__main-content {
    display: flex;
  }
  &__image-container {
    background-color: $color-white;
    border-radius: 0.5rem;
    margin-right: 1rem;
  }
  &__right-side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__buttons-container {
    //set margin-right of the first button to 2rem
    & > button:first-child {
      margin-right: 2rem;
    }
    & > button {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5rem;
      letter-spacing: 0.05rem;
      text-align: left;
      cursor: pointer;
      max-width: fit-content;
    }
  }
}
.cart-item-header {
  &__title {
    display: none;
    @include respond(tab-port) {
      display: block;
    }
  }
  &__quantity {
    text-decoration: underline;
  }
  &__price {
    font-weight: 700;
    & > span {
      font-weight: 400;
    }
  }
  &--small-screen {
    letter-spacing: normal;
    line-height: 1.25rem;
    margin: 0.5rem 0;
  }
  & > button {
    cursor: pointer;
    margin-right: 1rem;

    & > svg {
      max-width: 1rem;
      max-height: 1rem;
    }
  }
  & > button:hover {
    text-decoration: underline;
  }
  @include respond(tab-port) {
    &--small-screen {
      display: none;
    }
  }
}
.image-container {
  &__image {
    max-width: 10rem;
    margin: 1rem;
    background-color: $color-white;
    object-fit: cover;
  }
}

.cart-order-summary {
  color: $color-white;
  background-color: $color-black;
  border-radius: 0.5rem;
  text-align: center;
  max-width: 100%;
  padding: 1rem;
  margin-top: 2rem;

  &__title {
    text-transform: uppercase;
  }
  &__total {
    font-size: 1.5rem;
  }
  &__total-price {
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: 0.05rem;
    text-align: left;
    margin-bottom: 1rem;
  }
}
