.filter__form {
  bottom: 0;
  height: 2rem;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 11.25rem;
  width: 100%;

  @include respond(tab-land) {
    display: none;
  }
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    height: 2rem;
    padding: 0.4rem 0.625rem 0.4625rem;
    width: 30%;
    border-radius: 0.5rem;
    background: #fff;
    border: 1px solid #000;
    color: #000;
    margin: 1rem 0;

    & > svg {
      height: 1rem;
      margin-right: 2rem;
    }
  }
  @include respond(tab-land) {
    display: none;
  }
}
.filter__buttons {
  display: none;
}
@include respond(tab-land) {
  .filter__buttons {
    width: 100%;
    display: flex;

    margin: 0 2rem;

    justify-content: space-around;
    align-items: center;
  }
  .filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 2rem;
    width: 100%;
    background: inherit;
    border: 0.25rem solid #000;
    color: #000;
    margin: 1rem 0;
    cursor: pointer;
  }

  .filter-btn--active {
    background: #000;
    color: #fff;
  }
}
