.images-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: masonry;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  &--random {
    grid-template-columns: none;
  }

  @include respond(tab-port) {
    &--random {
      grid-template-columns: none;
    }
    grid-template-columns: repeat(3, 1fr);
  }
  @include respond(tab-land) {
    &--random {
      grid-template-columns: none;
    }
    grid-template-columns: repeat(4, 1fr);
  }
  @include respond(laptop) {
    &--trending {
      grid-template-columns: none;
    }
  }

  &__image {
    width: 100%;
    border-radius: 1rem;
    border: 0.2rem solid $color-white;
  }
}
