.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  & > p {
    font-size: 1.2rem;
  }

  & > svg {
    margin-right: 1rem;
  }

  &--loading {
    & > svg {
      animation: 1s linear infinite svg-animation;
    }
  }

  &--error {
    color: $color-red;
    text-transform: uppercase;
    & > svg {
      fill: $color-red;
    }
  }
}
