.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__heading {
    width: 100%;
    text-align: left;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
