// .header {
//   background-color: $color-black;
//   padding: 2rem;
//   width: auto;

//   @include respond(laptop) {
//     text-align: left;
//     letter-spacing: 0.7rem;
//     border-bottom: solid $color-white;
//   }

//   &__text-box {
//     //limit to text box
//     display: inline-block;
//     background-image: linear-gradient(
//       to left,
//       violet,
//       indigo,
//       blue,
//       green,
//       yellow,
//       orange,
//       red
//     );
//     -webkit-background-clip: text;
//     color: transparent;
//     font-size: 1.6rem;

//     @include respond(laptop) {
//       font-size: 2.5rem;
//     }
//   }
// }

.header {
  width: 100%;
  position: fixed;
  background: $color-dark-grey;
  padding: 10px 0;
  color: $color-white;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  &__text-box {
    text-transform: uppercase;
  }

  &__navigation {
    display: flex;
    // justify-content: space-between;
    // align-items: top;
    // width: 90px;

    & > ul {
      list-style: none;
    }
  }

  &__btn {
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(laptop) {
      margin-right: 2rem;
    }
    &--wishlist {
      margin-right: 2rem;
    }
    & > svg {
      position: relative;
      width: 4rem;
      height: 4rem;
      fill: $color-white;
      z-index: 0;
    }
    & > span {
      color: $color-black;
      position: absolute;
      z-index: 1000;
      font-weight: 700;
      margin-top: 3px;
    }
  }
  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    // margin-right: 0.5rem;
    &--heart {
      // margin-right: 0.8rem;
    }
  }
}
