.header {
  background-color: $color-black;
  padding: 2rem;
  width: auto;

  @include respond(laptop) {
    text-align: left;
    letter-spacing: 0.7rem;
    border-bottom: solid $color-white;
  }

  &__text-box {
    //limit to text box
    display: inline-block;
    background-image: linear-gradient(
      to left,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red
    );
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.6rem;

    @include respond(laptop) {
      font-size: 2.5rem;
    }
  }
}
